<form action="#" id="registerForm">
    <label for="pseudo">Pseudo</label>
    <input type="text" id="pseudo" name="pseudo" required minlength="5">

    <label for="email">Email</label>
    <input type="email" id="email" name="email" required minlength="5">

    <label for="password">Mot de passe</label>
    <input type="password" id="password" name="password" required minlength="5">

    <label for="repeat">Répéter le mot de passe</label>
    <input type="password" id="repeat" name="repeat" required minlength="5">

    <button type="submit">Inscription</button>
</form>